<% @all_hashtags.each do |hashtag| %>
  <div class="users-list-item">
    <div class="user-image-div user-image-div-small">
      <%= link_to "##{hashtag.name}", question_tag_index_path(hashtag.name) %>
    </div>
  </div>
<% end %>